[Bb]in/
[Oo]bj/
out/
publish/
BenchmarkDotNet.Artifacts/
.vs/
*.user
*.userosscache
*.sln.docstates
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.idea/
*.sln.iml
.DS_Store
Thumbs.db
*.log
*.tmp
